<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password recovery</title>
</head>
<body>
<div>
    <h2 style="color:#253f58; font-size: 25px;">PartyLit - Comfirmation de l'email</h2>
    <p style="font-size: 15px;">
        <strong style="color: #d92139; font-size: 15px;">
            {{user.}}</strong>
        Confirme que ton email est valid en suivant ce lien :</p>
    <p style="font-size: 15px;">
        <a href="{{ url }}">PartyLit</a>
    </p>
    <p style="font-size: 15px;">L'Equipe PartyLit.
        <br/>
        Enjoy !
    </p>
</div>
</body>
</html>